.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  span {
    width: var(--center-width);
    text-align: start;
  }
}