.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}

.svg {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 200%;
  height: 100%;
}

@keyframes waveForward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5vmin);
  }
}

@keyframes waveReverse {
  from {
    transform: translateX(-5vmin);
  }
  to {
    transform: translateX(0);
  }
}


.wave1 {
  animation: waveForward 8s linear infinite alternate;
}

.wave2 {
  animation: waveReverse 13s linear infinite alternate;
}

.wave3 {
  animation: waveForward 20s linear infinite alternate;
}
