.localDataContainer {
    display: flex;
    flex-direction: column;

    width: 120px;

    .dataRow {
        display: flex;
        justify-content: space-between;

        &.secondRow {
            width: 100%;
            align-items: center;
        }
    }
}

.localeText {
    font-size: 18px;
    line-height: 18px;
}

.bigTime {
    font-size: 42px;
    line-height: 42px;
}

.smallTime {
    font-size: 18px;
    line-height: 18px;
    margin-top: 6px;
}